@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	font-family: "OpenSans", sans-serif;
}
/* ==================header====================*/
.header {
	min-width: 100%;
	min-height: 420px;
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	position: relative;
	z-index: 0;
	padding-top: 30px;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.6;
	z-index: -1;
}

.header-logo {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}

.logo {
	min-width: 180px;
}

.menu {
	max-width: 100%;
}

.menu-list {
	display: flex;
}

.menu-list-item {
	display: inline-block;
}

.menu-list-item:nth-child(n + 2) {
	padding-left: 35px;
}

.menu-link {
	text-decoration: none;
	color: #ffffff;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
}

.header-container {
	box-sizing: border-box;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

.header-title {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 75px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
}

.section-block {
	margin-top: 64px;
	/* min-width: 100vw; */
}

.section-title {
	text-align: center;
	font-size: 1.25rem;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: bold;
}

.section-title::after {
	content: "";
	display: block;
	position: relative;
	width: 66px;
	height: 3px;
	margin-top: 12px;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
}

.section-article {
	margin-top: 28px;
	display: flex;
}

.article-section {
	min-width: 25%;
	min-height: 320px;
	display: flex;
	align-items: flex-end;
}

.article-section::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.5;
	z-index: -1;
}

.article-section:nth-child(1) {
	background-image: url(../images/trend1.jpg);
	background-size: cover;
	z-index: 0;
	margin-right: 0.3%;
	position: relative;
}

.article-section:nth-child(2) {
	background-image: url(../images/trend2.jpg);
	background-size: cover;
	z-index: 0;
	margin-right: 0.3%;
	position: relative;
}

.article-section:nth-child(3) {
	background-image: url(../images/trend3.jpg);
	background-size: cover;
	z-index: 0;
	margin-right: 0.3%;
	position: relative;
}
.article-section:nth-child(4) {
	background-image: url(../images/trend4.jpg);
	background-size: cover;
	z-index: 0;
	position: relative;
}

.article-form {
	margin: 108px 22px 17px 18px;
	padding: 38px 0 33px 33px;
	border: 4px solid #b59f5b;
}

.article-link-tag {
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #b59f5b;
}

.article-text {
	color: #ffffff;
	font-size: 1.25rem;
	text-transform: uppercase;
	line-height: 24px;
}

/* ==================main=================*/
.content {
	display: flex;
	padding: 64px 15px 0 15px;
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.content-section {
	width: 915px;
	box-sizing: border-box;
	list-style-type: none;
}

.section {
	display: flex;
}

.section-image {
	width: 363px;
	height: 293px;
	padding: 0 30px 60px 0;
}

.section-box {
	max-width: 410px;
}

.section-link-tag {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #b59f5b;
	padding-right: 18px;
	padding-bottom: 10px;
}

.section-header {
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 10px;
}

.section-header a {
	text-decoration: none;
	color: #000000;
}

.date-text {
	font-size: 0.75rem;
	font-weight: 700;
	padding-top: 32px;
	padding-bottom: 54px;
}

.date {
	color: #888888;
	font-weight: 400;
	padding-right: 12px;
}

.section-text {
	width: 364px;
	font-size: 0.95rem;
	padding-bottom: 15px;
}
/* ==============sidebar=================== */
.sidebar-container {
	padding-left: 120px;
}

.sidebar-title-one {
	width: 271px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.sidebar-title-one::after {
	content: "";
	display: block;
	position: relative;
	width: 66px;
	height: 3px;
	margin-top: 12px;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
	padding-top: 28px;
	margin-bottom: 57px;
}

.section-sidebar:nth-child(n + 2) {
	padding-top: 20px;
}

.content-sidebar {
	display: flex;
}

.sidebar-image {
	width: 70px;
	height: 70px;
	background-color: #f4f7f6;
}

.sidebar-title {
	padding-left: 20px;
	width: 180px;
}

.sidebar-date {
	font-size: 12px;
}

.sidebar-text {
	font-size: 14px;
	padding-top: 3px;
	font-weight: 700;
	text-transform: uppercase;
}

.search {
	display: flex;
	width: 100%;
	padding-bottom: 57px;
}

.search-group span {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px 1px 1px 1px);
}

.search-field {
	box-sizing: border-box;
	width: 222px;
	height: 49px;
	background-color: #f4f7f6;
	border: none;
	font-size: 0.8rem;
	padding-left: 20px;
}

.button-icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	display: block;
	width: 49px;
	min-height: 47px;
	background-color: #b59f5b;
	border: none;
}

.button-icon-search {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
	cursor: pointer;
}

.button-icon-text {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.form-email {
	width: 271px;
	padding-bottom: 57px;
}

.form-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 0.9rem;
	font-weight: 700;
}

.form-title::after {
	content: "";
	display: block;
	width: 66px;
	height: 3px;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
	margin-top: 14px;
}

.form-group span {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.form-field {
	margin-top: 21px;
	box-sizing: border-box;
	width: 271px;
	height: 48px;
	background-color: #f4f7f6;
	border: none;
	font-size: 13px;
	padding-left: 20px;
}

.form-btn {
	margin-top: 17px;
	box-sizing: border-box;
	width: 271px;
	min-height: 48px;
	border: none;
	background-color: #b59f5b;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}

.widget-tag {
	width: 271px;
	padding-bottom: 57px;
}

.tag-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}

.tag-title::after {
	content: "";
	display: block;
	width: 66px;
	height: 3px;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
	margin-top: 14px;
}

.tag-row {
	padding-top: 22px;
}

.tag-content {
	width: 271px;
	display: flex;
	list-style-type: none;
	text-transform: uppercase;
	flex-wrap: wrap;
}

.tag-item {
	border: 3px solid #eeeeee;
	padding: 7px 11px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.tag-item-link {
	font-size: 12px;
	color: #0f0d0e;
	font-weight: 700;
	text-decoration: none;
}

.widget-themes {
	width: 271px;
}

.themes-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}

.themes-title::after {
	content: "";
	display: block;
	width: 66px;
	height: 3px;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
	margin-top: 14px;
}

.themes-column {
	padding-top: 15px;
}

.themes-content {
	width: 271px;
	list-style-type: none;
}

.themes-item {
	color: #b59f5b;
}

.themes-item-link {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	color: #000000;
	line-height: 45px;
}

.themes-item::after {
	content: "";
	display: block;
	height: 1px;
	background-color: #eeeeee;
}

.themes-item-degree {
	vertical-align: super;
	font-size: 12px;
	font-weight: 700;
	margin-left: 4px;
	line-height: 36px;
}

.section-shop {
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.section-product {
	display: flex;
	justify-content: space-between;
}

.shop-title {
	text-align: center;
	font-size: 1.25rem;
	text-transform: uppercase;
}

.shop-title::after {
	content: "";
	display: block;
	position: relative;
	width: 66px;
	height: 3px;
	margin-top: 12px;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
}

.shop-product {
	margin: 65px 0;
	max-width: 300px;
	max-height: 204px;
}

.shop-product:nth-child(1) {
	background-image: url(../images/shop-item-desk1.jpg);
	margin-right: 23px;
	margin-left: 23px;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}

.shop-product:nth-child(2) {
	background-image: url(../images/shop-item-desk2.jpg);
	margin-right: 23px;
	margin-left: 23px;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}

.shop-product:nth-child(3) {
	background-image: url(../images/shop-item-desk3.jpg);
	margin-right: 23px;
	margin-left: 23px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.product-form {
	width: 346px;
	height: 268px;
	border: 3px solid #b59f5b;
	box-sizing: border-box;
	padding: 0 20px;
	margin: 172px -23px 0 -23px;
}
.product-title {
	text-transform: uppercase;
	padding-top: 50px;
	font-size: 1.25rem;
}
.product-text {
	font-size: 0.95rem;
}
.product-purchase {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.product-link {
	color: #b59f5b;
}
.product-price {
	text-decoration: line-through;
	font-size: 0.9rem;
	font-weight: bold;
}
.product-price-sale span {
	text-decoration: none;
}
.shop {
	background-color: #b59f5b;
}

/* ======================== footer ======================== */
.footer {
	box-sizing: border-box;
	padding: 265px 15px 0;
	width: 1200px;
	margin: 0 auto;
}

.socials-container {
	height: 83px;
	background-color: #f4f7f6;
}

.socials {
	width: 210px;
	margin: 0 auto;
}

.socials-items {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-top: 30px;
}

.items-icon {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	display: block;
}

.items-icon-twitter {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.items-icon-pinterest {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.items-icon-facebook {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.items-icon-instagram {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.items-icon-tumblr {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.items-icon-text {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px 1px 1px 1px);
}

.footer-text {
	padding-top: 71px;
	padding-bottom: 40px;
	text-align: center;
}

.footer-text a {
	text-decoration: none;
	color: #999999;
	font-size: 12px;
	font-weight: 700;
}
