@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	font-family: "OpenSans", sans-serif;
}
/* ==================header====================*/
.header {
	width: 100%;
	min-height: 420px;
	background-image: url(../images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 0;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
	z-index: -1;
}
.header-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1.7em 0.95em 0 0.95em;
}

.header-menu {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	flex: 0 0 11.3em;
	position: relative;
	z-index: 5;
}

.logo img {
	max-width: 100%;
}

.menu {
	padding-right: 30px;
}

.header-burger {
	display: none;
}

.menu-list {
	display: flex;
	position: relative;
	z-index: 2;
}

.menu-list-item {
	list-style: none;
}

.menu-list-item:nth-child(n + 2) {
	padding-left: 35px;
}

.menu-link {
	text-decoration: none;
	color: #ffffff;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
}

.header-text {
	box-sizing: border-box;
	max-width: 750px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

.header-title {
	width: 100%;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 75px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
}

@media (max-width: 1200px) {
	.header {
		font-size: 14px;
	}

	.header-burger {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header-burger span {
		position: absolute;
		background-color: #ffffff;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
	}

	.header-burger::before,
	.header-burger::after {
		content: "";
		background-color: #ffffff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}

	.header-burger::before {
		top: 0;
	}

	.header-burger::after {
		bottom: 0;
	}

	.menu {
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 500px 0 0 0;
	}

	.header-container {
		margin: 0 auto;
		padding: 41px 35px 0 35px;
	}
}
@media (max-width: 768px) {
	.header {
		font-size: 24px;
	}

	.header-menu {
		justify-content: center;
	}

	.logo {
		position: relative;
		top: 175px;
		left: 0;
		z-index: 5;
	}

	.header-container {
		margin: 0 auto;
		padding: 30px 15px 0 15px;
	}

	.header-text {
		padding-top: 210px;
	}
}

@media (min-width: 640px) and (max-width: 1200px) {
	.header {
		max-width: 100vw;
		min-height: 392px;
		background-image: url(../images/banner-bg-tablet.jpg);
		background-position: center;
	}

	.header-title {
		font-size: 40px;
		line-height: 55px;
	}
}

@media (max-width: 641px) and (orientation: landscape) {
	.header {
		background-image: url(../images/banner-bg-tablet.jpg);
		background-position: center;
	}
}

@media (max-width: 641px) and (orientation: portrait) {
	.header {
		background-image: url(../images/banner-mobile.jpg);
		min-height: 638px;
	}

	.header-title {
		font-size: 26px;
		line-height: 36px;
	}
}

/* ===========================section-block================================  */
.section-block {
	margin-top: 4rem;
	max-width: 100%;
}

.section-title {
	text-align: center;
	font-size: 1.25rem;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: bold;
}

.section-title::after {
	content: "";
	display: block;
	position: relative;
	width: 66px;
	height: 3px;
	margin-top: 0.75rem;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
}

.section-article {
	margin-top: 1.75rem;
	display: flex;
}

.article-section {
	min-width: 24.7%;
	height: 320px;
	display: flex;
	align-items: flex-end;
	margin: 0 auto;
}

.article-section::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.5;
	z-index: -1;
}

.article-section:nth-child(1) {
	background-image: url(../images/trend1.jpg);
	background-size: cover;
	z-index: 0;
	margin-right: 0.1%;
	position: relative;
}

.article-section:nth-child(2) {
	background-image: url(../images/trend2.jpg);
	background-size: cover;
	z-index: 0;
	margin-right: 0.1%;
	position: relative;
}

.article-section:nth-child(3) {
	background-image: url(../images/trend3.jpg);
	background-size: cover;
	margin-right: 0.1%;
	z-index: 0;
	position: relative;
}
.article-section:nth-child(4) {
	background-image: url(../images/trend4.jpg);
	background-size: cover;
	z-index: 0;
	position: relative;
}

.article-form {
	margin: 0 1.4rem 1.1rem 1.1rem;
	padding: 2.05rem;
	border: 3px solid #b59f5b;
	width: 100%;
}

.article-list {
	display: flex;
}

.article-list li {
	list-style: none;
	margin-right: 0.95rem;
}

.article-link-tag {
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #b59f5b;
}

.article-text {
	color: #ffffff;
	font-size: 1.25rem;
	text-transform: uppercase;
	line-height: 24px;
}

@media (max-width: 1200px) {
	.section-block {
		margin-top: 3.1rem;
	}

	.section-title {
		font-size: 1.1rem;
	}

	.section-article {
		flex-wrap: wrap;
	}

	.article-section {
		margin: 0;
		min-width: 49.7%;
		max-width: 49.7%;
	}

	.article-section:nth-child(1) {
		margin-bottom: 0.2rem;
		margin-right: 0.2rem;
	}

	.article-section:nth-child(3) {
		margin-right: 0.2rem;
	}

	.article-text {
		font-size: 1.05rem;
	}
}

@media (max-width: 768px) {
	.section-article {
		display: inline-flex;
	}

	.article-section {
		min-width: 100%;
	}

	.article-section:nth-child(1) {
		margin-right: 0.2rem;
		margin-bottom: 0.2rem;
	}

	.article-section:nth-child(2) {
		margin-right: 0;
		margin-bottom: 0.2rem;
	}

	.article-section:nth-child(3) {
		margin-right: 0.2rem;
		margin-bottom: 0.2rem;
	}
}

/* ==================================main==================================*/

.content {
	display: flex;
	padding: 4rem 0.95rem 0 0.95rem;
	max-width: 1170px;
	margin: 0 auto;
}

.content-section {
	width: 120%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.section {
	display: flex;
}

.section-image {
	width: 100%;
	max-height: 293px;
	padding: 0 1.9rem 3.75rem 0;
}

.section-box {
	width: 100%;
}

.section-list {
	display: flex;
}

.section-list li {
	list-style-type: none;
}

.section-link-tag {
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #b59f5b;
	padding-right: 1.15rem;
	padding-bottom: 0.65rem;
}

.section-header {
	text-transform: uppercase;
	font-size: 1.25rem;
	padding-top: 0.65rem;
}

.section-header a {
	text-decoration: none;
	color: #000000;
}

.date-author {
	font-size: 0.75rem;
	font-weight: 700;
	padding-top: 2rem;
	padding-bottom: 3.4rem;
}

.date {
	color: #888888;
	font-weight: 400;
	padding-right: 0.75rem;
}

.section-text-p {
	max-width: 100%;
	font-size: 0.95rem;
	padding-bottom: 10px;
}

.section-text {
	max-width: 364px;
	font-size: 0.95rem;
	padding-bottom: 15px;
}

@media (max-width: 1200px) {
	.content {
		padding: 3.15rem 2.2rem 0 2.2rem;
	}

	.content-section {
		width: 100%;
		padding-right: 15px;
	}

	.section {
		flex-wrap: wrap;
		display: block;
	}

	.section-image {
		max-width: 392px;
		max-height: 500px;
		padding: 0;
	}

	.section-box {
		padding: 0.95rem 0 2.5rem 0;
	}

	.section-text {
		padding: 0;
		max-width: 700px;
	}

	.section-text::after {
		content: "";
		display: block;
		position: relative;
		height: 3px;
		margin-top: 20px;
		background: #eeeeee;
	}

	.section-header {
		font-size: 1.05rem;
	}

	.date-author {
		padding-bottom: 1.9rem;
	}
}

@media (max-width: 768px) {
	.content {
		padding: 2.55rem 0.95rem 0 0.95rem;
		flex-wrap: wrap;
	}

	.content-section {
		padding: 0;
	}

	.section {
		width: 100%;
	}

	.section-image {
		max-width: 700px;
		padding: 0;
	}

	.section-box {
		padding: 1.05rem 0 2.8rem 0;
	}

	.section-header {
		font-size: 1rem;
	}

	.date-author {
		padding: 1.5rem 0 1.25rem 0;
	}

	.section-text {
		font-size: 0.88rem;
	}
}

/* ==============sidebar=================== */
.sidebar-container {
	padding-left: 7.5rem;
}

.sidebar-title-one {
	max-width: 271px;
	text-align: center;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 700;
}

.sidebar-title-one::after {
	content: "";
	display: block;
	position: relative;
	width: 66px;
	height: 3px;
	margin-top: 0.8rem;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
	padding-top: 1.8rem;
	margin-bottom: 3.5rem;
}

.section-sidebar:nth-child(n + 2) {
	padding-top: 1.25rem;
}

.content-sidebar {
	display: flex;
}

.sidebar-image {
	width: 70px;
	background-color: #f4f7f6;
}

.sidebar-title {
	padding-left: 1.25rem;
	width: 180px;
}

.sidebar-date {
	font-size: 0.75rem;
}

.sidebar-text {
	font-size: 0.88rem;
	padding-top: 0.2rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 18px;
}

.sidebar-text a {
	text-decoration: none;
	color: #000000;
}

.search {
	display: flex;
	padding-bottom: 3.55rem;
}

.search-group {
	max-width: 100%;
}

.search-group span {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px 1px 1px 1px);
}

.search-field {
	box-sizing: border-box;
	min-width: 222px;
	height: 49px;
	background-color: #f4f7f6;
	border: none;
	font-size: 0.8rem;
	padding-left: 1.25rem;
}

.button-icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	display: block;
	min-width: 49px;
	min-height: 47px;
	background-color: #b59f5b;
	border: none;
}

.button-icon-search {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.button-icon-text {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.form-email {
	max-width: 100%;
	padding-bottom: 3.55rem;
}

.form-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 0.9rem;
	font-weight: 700;
}

.form-title::after {
	content: "";
	display: block;
	width: 66px;
	height: 3px;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.9rem;
}

.form-group span {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.form-field {
	margin-top: 1.3rem;
	box-sizing: border-box;
	width: 271px;
	height: 48px;
	background-color: #f4f7f6;
	border: none;
	font-size: 0.8rem;
	padding-left: 1.25rem;
}

.form-btn {
	margin-top: 1.05rem;
	box-sizing: border-box;
	width: 271px;
	min-height: 48px;
	border: none;
	background-color: #b59f5b;
	font-size: 0.85rem;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}

.widget-tag {
	width: 271px;
	padding-bottom: 3.55rem;
}

.tag-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 0.85rem;
	font-weight: 700;
}

.tag-title::after {
	content: "";
	display: block;
	width: 66px;
	height: 3px;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.85rem;
}

.tag-row {
	padding-top: 1.35rem;
}

.tag-content {
	width: 271px;
	display: flex;
	list-style-type: none;
	text-transform: uppercase;
	flex-wrap: wrap;
}

.tag-item {
	border: 3px solid #eeeeee;
	padding: 0.35rem 0.65rem;
	margin-left: 0.3rem;
	margin-bottom: 0.3rem;
}

.tag-item-link {
	font-size: 0.85rem;
	color: #0f0d0e;
	font-weight: 700;
	text-decoration: none;
}

.widget-themes {
	max-width: 100%;
}

.themes-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 0.85rem;
	font-weight: 700;
}

.themes-title::after {
	content: "";
	display: block;
	width: 66px;
	height: 3px;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.85rem;
}

.themes-column {
	padding-top: 0.9rem;
}

.themes-content {
	width: 271px;
	list-style-type: none;
}

.themes-item {
	color: #b59f5b;
}

.themes-item-link {
	font-size: 0.85rem;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	color: #000000;
	line-height: 45px;
}

.themes-item::after {
	content: "";
	display: block;
	height: 1px;
	background-color: #eeeeee;
}

.themes-item-degree {
	vertical-align: super;
	font-size: 0.75rem;
	font-weight: 700;
	margin-left: 0.25rem;
	line-height: 36px;
}

@media (max-width: 1200px) {
	.sidebar-container {
		max-width: 271px;
	}

	.sidebar-container {
		padding-left: 0;
	}

	.tag-item {
		padding: 0 0.65rem;
	}
}

@media (max-width: 768px) {
	.sidebar-container {
		max-width: 100%;
	}

	.sidebar-title-one {
		max-width: 100%;
	}

	.sidebar-title {
		width: 100%;
	}

	.search-group {
		flex: 1;
	}

	.search {
		width: 100%;
		padding-bottom: 2.7rem;
	}

	.search-field {
		width: 100%;
	}

	.form-email {
		width: 100%;
		padding-bottom: 2.7rem;
	}

	.form-field {
		width: 100%;
	}

	.form-btn {
		width: 100%;
	}

	.widget-tag {
		width: 100%;
		padding-bottom: 2.7rem;
	}

	.tag-content {
		width: 100%;
	}

	.tag-item {
		padding: 0.2rem 0.8rem;
		margin-right: 0.2rem;
		margin-left: 0;
	}

	.themes-title {
		width: 100%;
	}

	.themes-content {
		width: 100%;
	}
}

/* ============================ shop ================================= */

.section-shop {
	max-width: 1170px;
	padding-left: 0.95rem;
	padding-right: 0.95rem;
	margin: 0 auto;
}

.section-product {
	display: flex;
	justify-content: space-between;
}

.shop-title {
	text-align: center;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin: 0 auto;
}

.shop-title::after {
	content: "";
	display: block;
	position: relative;
	width: 66px;
	height: 3px;
	margin-top: 0.75rem;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
}

.shop-product {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
}

.shop-imeges {
	max-height: 205px;
	position: relative;
	text-align: center;
}

.shop-img {
	z-index: 1;
}

.product-form {
	position: relative;
	width: 346px;
	border: 3px solid #b59f5b;
	box-sizing: border-box;
	padding: 0 1.25rem;
	z-index: 0;
	margin-top: -2rem;
	flex-grow: 1;
}

.product-title {
	text-transform: uppercase;
	padding-top: 3.15rem;
	font-size: 1.25rem;
}

.product-text {
	font-size: 0.95rem;
	line-height: 22px;
	margin-bottom: 2.4rem;
}

.product-link {
	color: #b59f5b;
}

.product-purchase {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 1.85rem;
}

.product-price {
	text-decoration: line-through;
	font-size: 0.9rem;
	font-weight: bold;
}

.product-price-sale {
	font-weight: bold;
	font-size: 1.25rem;
}

.shop {
	background-color: #b59f5b;
	box-sizing: border-box;
	width: 140px;
	min-height: 48px;
	border: none;
	font-size: 0.9rem;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}

@media (max-width: 1200px) {
	.section-product {
		flex-wrap: wrap;
	}

	.section-shop {
		padding: 0 2.2rem;
	}

	.shop-product {
		margin-top: 1.85rem;
	}

	.product-form {
		max-width: 335px;
	}
}

@media (min-width: 641px) and (max-width: 767px) {
	.shop-imeges {
		margin-bottom: -30px;
	}
}

@media (max-width: 641px) {
	.shop-imeges {
		margin-bottom: 50px;
	}
}

@media (max-width: 768px) {
	.section-shop {
		top: 0;
		left: 50%;
		margin-top: 43px;
		padding: 0 0.95rem;
		flex: 1;
	}

	.section-product {
		flex-direction: column;
		justify-content: center;
	}

	.shop-product {
		margin-top: 1.55rem;
	}

	.shop-img {
		max-width: 100%;
	}

	.product-form {
		max-width: 100%;
		margin: 0 auto;
	}
}

/* ======================== footer ======================== */

.footer {
	box-sizing: border-box;
	padding: 4rem 0.94rem 0;
	max-width: 1200px;
	margin: 0 auto;
}

.socials-container {
	width: 100%;
	height: 83px;
	background-color: #f4f7f6;
	margin-left: auto;
	margin-right: auto;
}

.socials {
	width: 210px;
	margin: 0 auto;
}

.socials-items {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-top: 1.9rem;
}

.items-icon {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	display: block;
}

.items-icon-text {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px 1px 1px 1px);
}

.footer-text {
	padding-top: 4.4rem;
	padding-bottom: 2.5rem;
	text-align: center;
}

.footer-text a {
	text-decoration: none;
	color: #999999;
	font-size: 0.75rem;
	font-weight: 700;
}

@media (max-width: 1200px) {
	.footer {
		padding: 3.15rem 2.2rem 0 2.2rem;
	}

	.footer-text {
		padding-top: 3.1rem;
		padding-bottom: 2.2rem;
	}
}

@media (max-width: 768px) {
	.footer {
		padding: 2.5rem 0.95rem 0 0.95rem;
	}

	.footer-text {
		padding-top: 2.8rem;
		padding-bottom: 2.8rem;
	}
}

/* ================================popup======================================= */

.popup_hidden {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;
}

.popup-body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 25px;
	position: relative;
}

.popup-content {
	position: relative;
	background: #ffffff;
	max-width: 390px;
	padding-bottom: 45px;
}

.popup-close {
	position: absolute;
	right: 0;
	top: -30px;
	width: 20px;
	height: 20px;
}

.close-icon-text {
	display: none;
}

.popup-title {
	text-align: center;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin-top: 50px;
}

.popup-title::after {
	content: "";
	display: block;
	position: relative;
	width: 66px;
	height: 3px;
	margin-top: 10px;
	background: #b59f5b;
	margin-left: auto;
	margin-right: auto;
}

.popup-form {
	padding: 0 30px;
}

.question-form {
	margin-top: 30px;
	font-size: 12px;
	width: 325px;
}

.checkbox {
	display: flex;
	cursor: pointer;
}

.select-group {
	position: relative;
}

.select-form {
	-webkit-appearance: none;
	margin-top: 10px;
	padding-left: 15px;
	margin-right: 15px;
	width: 325px;
	height: 40px;
	border: none;
	background-color: #f4f7f6;
	font-size: 12px;
	background-image: url(../svg/form-arrows.svg);
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 8px;
}

.checkbox-radio-form {
	position: relative;
	margin-left: 20px;
	cursor: pointer;
}

.checkbox-radio-input {
	display: none;
}

.checkbox-radio-custom {
	position: absolute;
	top: 5px;
	left: -18px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(../svg/form-empty-circle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	vertical-align: text-top;
}

.checkbox-radio-custom::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background-image: url(../svg/form-circle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: none;
}

.checkbox-radio-input:checked + .checkbox-radio-custom::before {
	display: block;
}

.checkbox-radio-text {
	font-size: 12px;
	padding-top: 2px;
	margin-right: 5px;
}

.txtarea-form {
	margin-top: 10px;
	padding: 15px 0 0 15px;
	display: inline-block;
	min-width: 310px;
	min-height: 110px;
	background-color: #f4f7f6;
	border: none;
	font-size: 12px;
}

.button-form {
	width: 100%;
	height: 50px;
	margin-top: 20px;
	background-color: #b59f5b;
	border: none;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}

@media (max-width: 768px) {
	.popup-body {
		padding: 0;
	}

	.popup-content {
		max-width: 330px;
	}

	.popup-form {
		padding: 0 25px;
	}

	.question-form {
		max-width: 280px;
	}

	.select-form {
		max-width: 280px;
	}

	.txtarea-form {
		min-width: 265px;
	}
}
